body {
    margin: 0;
    background: black;
}

button{
    -webkit-tap-highlight-color: transparent;
}

#content {
    display: block;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #7bacdd;
}

.menu-master {
    position: relative;
    height: 60px;
    width: 100%;
    background: rgb(21 22 26);
    border-bottom: 1px solid hsl(246.67deg 7.67% 14.03%);
    text-align: center;

}

.logonombre {
    position: relative;
    display: inline-flex;
    top: 0px;
    font-family: system-ui;
    font-weight: bold;
    font-size: 27px;
    color: #cd1025;
    margin-top: 0px;
    align-items: center;
}

.logonombre span {
    position: relative;
    top: -3px;
    font-size: 10px;
    color: #777777;
    text-align: center;
}

.logo1 {
    position: relative;
    margin-top: 0px;
    height: 57px;
    width: 57px;
    background: #ff000000;
    background-image: url(../img/logo2.svg);
    background-size: 57px;
    background-repeat: no-repeat;
}

.logonombre div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.logonombre div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.logonombre h1 {
    font-family: system-ui;
    position: relative;
    top: 2px;
    font-size: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: bold;
    background: linear-gradient(90deg, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf, #ffffff, #cd1025, #cd1025, #cd1025, #cd1025, #cd1025, #cd1025, #cd1025, #cd1025, #ffffff, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf, #096caf);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove linear 7s infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.form-admin-add-property-Master {
    top: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 750px;
    height: calc(100% - 50px);
    min-height: 60px;
    border-radius: 15px;
    overflow: hidden;
}

.form-admin-add-property {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #1b1d23;
    max-height: 1440px;
    width: 100%;
    border-radius: 0px;
    height: 95%;
    overflow: auto;
    padding: 20px 35px;
    box-sizing: border-box;
    color: white;
}

.form-divisor {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 24px 0px;
    background: #ebebeb;
}


label {
    display: block;
    margin-top: 10px;
}

#alqvend {
    display: block;
    margin-top: -10px;
}

#inputalq {
    width: auto;
}

#titlelabel {
    margin-bottom: 14px;
}

input {
    width: 98%;
    padding: 17px 8px;
    margin-top: 5px;
    border-radius: 14px;
    border: none;
    background: #22252c;
    color: white;
}

#welcome-message {
    font-family: system-ui;
    font-size: 2em;
    font-weight: 500;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* Estilos para la lista y las imágenes de vista previa */

#lista-imagenes {
    background: gray;
}


.image-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    display: inline-flex;
}

.image-preview-item {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-order-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(0 0 0 / 56%);
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 0.8em;
    font-family: none;
}

/* Estilos para la lista y las imágenes de vista previa FIN */

#loading-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1000;
    background-color: #1c1b2b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: auto;
    padding: 16px;
}

#enlace-propiedad {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}


#map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border-radius: 14px;
}



@media (min-width: 701px) {

    /* Estilos para Chrome, Safari y Edge */
    .form-admin-add-property::-webkit-scrollbar {
        width: 8px;
        /* Ancho de la barra de desplazamiento */
    }

    .form-admin-add-property::-webkit-scrollbar-track {
        background: #16181d;
        /* Color de fondo del track */
    }

    .form-admin-add-property::-webkit-scrollbar-thumb {
        background: #d1d1d141;
        border-radius: 4px;
    }

    .form-admin-add-property::-webkit-scrollbar-thumb:hover {
        background: #333539;
    }
}


@media (max-width: 700px) {

    .form-admin-add-property-Master {
        top: 0px;
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }

    .form-admin-add-property {
        height: 100%;
        width: 100%;
        padding: 20px 20px;
    }
}

























.slider-container {
    position: relative;
    width: 300px;
    height: 50px;
    -webkit-tap-highlight-color: transparent;
  }

  .slider-button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #0065d1;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 3px 4px 12px 1px rgb(0 49 98) inset;
  }

  .slider-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .button-content { /* Estilo para el nuevo div */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Para que el círculo se posicione correctamente */
    -webkit-tap-highlight-color: transparent;
  }
